@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;900&family=Noto+Sans+TC:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

@import "tailwindcss";
@import "@nuxt/ui";

@theme {
  --font-sans: "Inter", "Noto Sans TC", sans-serif;
  --font-display: "Inter", "Noto Sans TC", sans-serif;
}

body {
  font-family: var(--font-sans);
}

html {
  scroll-behavior: smooth;
}
